body{
	background-image:url(img/back_mobile.jpg);
	background-size:cover;
	background-attachment: fixed;
}

.galery img {
    box-sizing: border-box;
  }
.slider {
    width: 50%;
    margin: 100px auto;
  }
.slick-slide {
    margin: 0px 20px;
  }
.slick-slide img {
    width: 100%;
  }
.slick-prev:before,
.slick-next:before {
    color: black;
  }
.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
  }
.slick-active {
    opacity: .5;
  }
.slick-current {
    opacity: 1;
}

.galery{
background-color:#fff;
}
h1{
	color:#fff;
	text-shadow:0 1px 3px #ff0;
}
@media screen and (min-width: 768px) and (orientation: landscape) {
	body{
		background-image:url(img/back.jpg);
		background-size:cover;
		background-attachment: fixed;
	}
}